html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 100%;
}
p {
  margin: 0 0 20px 0;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 48px;
  margin-bottom: 10px;
}
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
}
.greyTheme {
  background-color: #eee;
  color: #89867e;
}
.greyTheme a {
  color: #66f;
}
.greyTheme a:hover {
  color: #99f;
}
.redTheme {
  background-color: #cd4436;
  color: #633;
}
.redTheme a {
  color: #dd0;
}
.redTheme a:hover {
  color: #ff0;
}
.greenTheme {
  background-color: #3fa46a;
  color: #363;
}
.greenTheme a {
  color: #dd0;
}
.greenTheme a:hover {
  color: #ff0;
}
.yellowTheme {
  background-color: #fe7;
  color: #663;
}
.yellowTheme a {
  color: #66f;
}
.yellowTheme a:hover {
  color: #99f;
}
.presence .icon {
  display: inline-block;
}
.icon {
  padding: 20px;
  height: 128px;
  width: 128px;
  background-color: #aaf;
  overflow: hidden;
  color: #fff;
}
.sub-heading {
  opacity: 0.5;
  font-size: 24px;
}
.content {
  width: 700px;
  margin: auto;
}
.sub-link {
  font-size: 36px;
}
.commit {
  font-style: italic;
}
.date {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.push-down {
  margin-top: 75px;
}
.text-center {
  text-align: center;
}
.panel {
  display: inline-block;
  width: 168px;
  height: 168px;
  overflow-y: hidden;
  font-size: 14px;
  margin: 10px;
}
.panel h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.panel a {
  color: #ccc;
}
.panel a:hover {
  color: #fff;
}
.panel .half {
  width: 168px;
  height: 168px;
}
.panel .contents {
  transition: all 0.3s ease-in-out;
}
.panel .contents:hover {
  position: relative;
  transform: translate(0, -168px);
}
.blue {
  background-color: #62b8e3;
}
.blue-dark {
  background-color: #4994ba;
}
.navy {
  background-color: #1b6d96;
}
.navy-dark {
  background-color: #124c69;
}
.grey {
  background-color: #bbb;
}
.grey-dark {
  background-color: #888;
}
