// ======================
// Constants
// ======================
contentWidth = 700px
panelSize = 168px
 
// Grey
greyBkgColor = #eee
greyTextColor = #89867e

// Red
redBkgColor = #cd4436
redTextColor = #633

// Green
greenBkgColor = #3fa46a
greenTextColor = #363

// Yellow
yellowBkgColor = #fe7
yellowTextColor = #663

// Links
linkBlue = #66f
linkBlueHover = #99f
linkYellow = #dd0
linkYellowHover = #ff0

// ======================
// Base Styles
// ======================
html, body 
    margin 0
    padding 0
    font-family "Raleway", sans-serif
    font-size 100%

p  
    margin 0 0 20px 0

h1 
    font-size 72px

h2 
    font-size 48px
    margin-bottom 10px

h3 
    margin-top 5px
    margin-bottom 5px

a 
    text-decoration none

// ======================
// Themes
// ======================
.greyTheme
    background-color greyBkgColor
    color greyTextColor

    a
        color linkBlue
    a:hover
        color linkBlueHover

.redTheme
    background-color redBkgColor
    color redTextColor

    a
        color linkYellow
    a:hover
        color linkYellowHover

.greenTheme
    background-color greenBkgColor
    color greenTextColor

    a
        color linkYellow
    a:hover
        color linkYellowHover

.yellowTheme
    background-color yellowBkgColor
    color yellowTextColor

    a
        color linkBlue
    a:hover
        color linkBlueHover

// ======================
// Specific Styles
// ======================
.presence .icon 
    display inline-block

.icon 
    padding 20px
    height 128px
    width 128px
    background-color #aaf
    overflow hidden
    color white

.sub-heading
    opacity 0.5
    font-size 24px

.content 
    width contentWidth
    margin auto

.sub-link
    font-size 36px

.commit 
    font-style italic

.date
    font-size 14px
    margin 0
    padding 0

.push-down  
    margin-top 75px 

.text-center  
    text-align center 

// ======================
// Panels
// ======================
.panel 
    display inline-block
    width panelSize
    height panelSize
    overflow-y hidden
    font-size 14px
    margin 10px

    h1
        font-size 18px
        font-weight bold
        margin 0
        padding 0
    a 
        color #ccc
    a:hover
        color white

    .half
        width panelSize
        height panelSize

    .contents
        transition all 0.3s ease-in-out

    .contents:hover
        position relative
        transform translate(0, -1 * panelSize)

// ======================
// Panel Colors
// ======================
.blue  
    background-color #62B8E3 

.blue-dark  
    background-color #4994BA 

.navy  
    background-color #1B6D96 

.navy-dark  
    background-color #124C69 

.grey  
    background-color #bbb 

.grey-dark  
    background-color #888 

